* {
    font-family: ui-monospace;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin: auto;
    /* border: 2px solid red; */
    width: 70vw;
}

nav.header_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav.header_left {
    width: 70%;
}

.header_right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.shopicon img {
    width: 35px;
}

.header_right .face img {
    width: 50px;
}


.logo {
    font-size: 35px;
    font-weight: 700;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 22px;
    width: 70%;
}

.links {
    color: #a4a6a7;
    text-decoration: none;
}

.separation {
    margin: 30px auto;
    width: 70vw;
    height: 2px;
    color: black;
    background-color: #efefef;
}

.main_productsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10px; */
    /* gap: 50px; */

}

.main_productsection {
    width: 62vw;
    margin: auto;
    margin-top: 6vw;

    /* gap: 20px; */

}

/* .main_productsection .image {
    width: 34%;
} */

.main_productsection .image img {
    border-radius: 10px;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.about {
    width: 40%;
    align-self: flex-start;
    margin: 3vw 0px;
}

.product_title {
    font-size: xx-large;
    font-weight: 600;
}

.product_description {
    font-size: 16px;
}

/* .discounted-price{
    text-decoration:overline;
} */

.original-price {
    text-decoration: line-through;
    margin-bottom: 3vh;
}

.actual-price-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.discount_age {
    background-color: black;
    color: white;
    padding: 3px 8px;
    /* border-radius: 7px 12px; */
    border-radius: 10px;
}

.cart-section {
    justify-content: left;
    gap: 15px;
}

.how-many {
    gap: 2vw;
    /* border: 2px solid red; */
    background-color: #f7f8fd;
    padding: 1.5vh 1vw;
    border-radius: 8px;

}

.plus,
.minus {
    font-size: x-large;
    color: #ff7d1b;
    font-weight: bolder;


}

.add-to-cart-button {
    background-color: #ff7d1b;
    padding: 1.5vh 2.5vw;
    border-radius: 8px;
    font-weight: 600;
    gap: 20px;
}

.related-images-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    gap: 4%;
}

.related_images {
    width: 22%;
    border-radius: 5px;
}

.product-pics-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34%;
    gap: 5vh;
    align-self: flex-start;

}

.image {
    display: flex;
    width: 100%;
}

.related-images-box {
    width: 100%;
}

/* Media query fr screen with width 1550  */
@media only screen and (max-width:1550px) {
    .main_productsection {
        margin-top: 8vw;
    }

    .about {
        gap: 3px;
        margin-top: 2vw;
    }


}

@media only screen and (max-width:1400px) {
    nav.header_left {
        width: 70%;
        gap: 40px;
    }

    .links {
        gap: 2%;
    }

    .product_title {
        font-size: x-large;
        font-weight: 600;
    }

    .about {
        gap: 6px;
    }

    .company_name {
        font-size: 15px;
    }

}


/* Media Query for screen for screen 1 */

@media only screen and (max-width:1100px) {

    .links {

        font-size: 15px;
    }

    .logo {
        font-size: 35px;
        font-weight: 700;
    }

    nav.header_left {
        width: 70%;
        gap: 25px;
    }
}

@media only screen and (max-width:1200px) {
    .add-to-cart-button {
        font-weight: 500;
    }

    .add-to-cart-button {
        gap: 3px;
        padding: 1vh 1.5vw;
    }

    .about {
        gap: 1px;
    }
}


/* Media query fr screen with width 850  */
@media only screen and (max-width:850px) {
    nav.header_left {
        width: 70%;
        gap: 15px;
    }

    .logo {
        font-size: 27px;
        font-weight: 700;
    }

    .links {
        font-size: 12px;
    }

    .header {
        width: 80vw;
    }

    .separation {
        width: 80vw;
    }

    .company_name {
        font-size: 14px;
    }

}

@media only screen and (max-width:1024px) {
    .main_productsection {
        width: 92vw;
    }

    .header_right {
        width: 30%;
        gap: 2.5vw;
    }

    .header_right .face img {
        width: 40px;
    }

    .about {
        gap: 8px;
    }

}


@media only screen and (max-width:820px) {
    .main_productsection {
        width: 99vw;
    }

    .about {
        gap: 2px;
    }
}

@media only screen and (max-width:700px) {
    .main_productsection {
        width: 99vw;
    }

    .about {
        gap: 3px;
    }

    .product_title {
        font-size: 19px;
    }

    .product_description {
        font-size: 13px;
    }

    .original-price {
        font-size: 10px;
    }

    .plus,
    .minus {
        font-size: 15px;
    }

    .comapny_name {
        font-size: 12px;
    }

    .add-to-cart-button img {
        width: 15px;
        height: 15px;
    }

    .add-to-cart {
        font-size: 15px;
    }

    .original-price {
        margin-bottom: 5px;
    }

    .how-many {
        padding: 1vh 1vw;
    }
}

@media only screen and (max-width:580px) {
    .links {
        font-size: 10px;
    }

    .logo {
        font-size: 24px;
        font-weight: 550;
    }

    .comapny_name {
        font-size: 9px;
    }

    .product_title {
        font-size: 18px;
    }

    .product_description {
        font-size: 11px;
    }

    .add-to-cart,
    .number {
        font-size: 12px;
    }

    .shopicon img {
        width: 20px;
    }

    .header_right {
        width: 30%;
        gap: 2vw;
    }

    .header_right .face img {
        width: 30px;
    }

    nav.header_left {
        width: 84%;
        gap: 15px;
    }

    .header_right {
        width: 16%;
        gap: 1vw;
    }

    .main_productsection {
        margin-top: 12vw;
    }

    .separation {
        margin: 25px auto;
    }
}

@media only screen and (max-width:580px) {
    .product_description {
        font-size: 9px;
    }

    .product_title {
        font-size: 12px;
    }

    .discount_age {
        padding: 2px 4px;
        font-size: 11px;
    }

    .comapny_name {
        font-size: 7px;
    }

    .original-price {
        margin-bottom: 4px;
    }

    .how-many {
        padding: 3px;
    }

    .add-to-cart-button {
        gap: 6px;
        padding: 4px;
    }

    .main_productsection {
        margin-top: 12vw;
    }
}

/* 
@media only screen and (max-width: 1024px) {
    .header {
        width: 90vw;
    }

    .main_productsection {
        flex-direction: column;
        gap: 50px;
    }

    .about {
        width: 90%;
    }

    .product-pics-section {
        width: 90%;
    }

    .related-images-box {
        width: 100%;
        justify-content: space-between;
    }
} */
/* 
@media only screen and (max-width: 768px) {
    .header {
        width: 90vw;
    }

    .main_productsection {
        flex-direction: column;
        gap: 50px;
    }

    .about {
        width: 90%;
    }

    .product-pics-section {
        width: 90%;
    }

    .related-images-box {
        width: 100%;
        justify-content: space-between;
    }
} */